<div class="main-container">
    <div class="form-container">
        <img class="mb-2" src="https://auth.pivotel.com.au/pulsar4/assets/img/pulsar4-logo.png" alt="" width="250">
        <h1 class="h2 mb-3 font-weight-normal">Please sign in</h1>

        <label for="inputEmail" class="sr-only">User ID</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="User ID" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

        <a href="/home"><button class="btn btn-lg btn-light btn-block" type="submit">Sign in</button></a>
        <p class="create-account">First time using Pulsar? <a href="#">Create New Account</a></p>
    </div>
</div>
TEST
<!-- Include Bootstrap JS and jQuery -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script> -->