.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #0067B4;
}

.form-container {
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 30px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

/* Style the logo */
.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    display: block;
}

/* Style the form fields */
.form-group {
    margin-bottom: 20px;
}

/* Style the "Create New Account" link */
.create-account {
    margin-top: 10px;
}