<mat-toolbar class="custom-toolbar" *ngIf="showToolbarAndDrawer">
  <img class="pulsar-logo" src="assets/pulsar4-logo.png">

  <span style="padding-left: 15px;"></span>
  <span class="example-spacer"></span>
  <span style="font-weight: 400; font-size: 16px;">
  Alexander Sakker</span>
  <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <a href="/login"><button class="logout-button" style="height: 100%;width: 100%;"><mat-icon
      style="margin-right: 5px;">logout</mat-icon>Logout</button></a>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container">

  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true" *ngIf="showToolbarAndDrawer">
    <br>
    <div class="container">
      <input type="text" class="input-field" placeholder="Account">
      <button class="enter-button"><fa-icon [icon]="faArrowAltCircleRight"></fa-icon></button>
    </div>
    <hr>
    <div class="sidenav-button-container">
      <button routerLink="home" class="sidenav-button" routerLinkActive="active">
        <fa-icon class="sidenav-button-icon" [icon]="faHome"></fa-icon>
        Dashboard

      </button>
    </div>
    <div class="sidenav-button-container">
      <button routerLink="services" class="sidenav-button" routerLinkActive="active">
        <fa-icon class="sidenav-button-icon" [icon]="faSatelliteDish"></fa-icon>
        Services &amp; Devices
      </button>
    </div>
    <div class="sidenav-button-container">
      <button routerLink="templates" class="sidenav-button" routerLinkActive="active">
        <fa-icon class="sidenav-button-icon" [icon]="faFileExport"></fa-icon>
        Templates
      </button>
    </div>
    <div class="sidenav-button-container">
      <button routerLink="tags" class="sidenav-button" routerLinkActive="active">
        <fa-icon class="sidenav-button-icon" [icon]="faTags"></fa-icon>
        Tags
      </button>
    </div>

    <hr>
    <p class="sidenav-text">Profiles</p>

    <div class="sidenav-button-container">
      <button routerLink="alerting" class="sidenav-button" routerLinkActive="active">
        <fa-icon class="sidenav-button-icon" [icon]="faBell"></fa-icon>
        Alerting
      </button>
    </div>

    <div class="sidenav-button-container">
      <button routerLink="barring" class="sidenav-button" routerLinkActive="active">
        <fa-icon class="sidenav-button-icon" [icon]="faLock"></fa-icon>
        Barring
      </button>
    </div>

    <div class="sidenav-button-container">
      <button routerLink="firewall" class="sidenav-button" routerLinkActive="active">
        <fa-icon class="sidenav-button-icon" [icon]="faChessRook"></fa-icon>
        Firewall
      </button>
    </div>

    <div class="sidenav-button-container">
      <button routerLink="domain" class="sidenav-button" routerLinkActive="active">
        <fa-icon class="sidenav-button-icon" [icon]="faGlobe"></fa-icon>
        Domain Filter
      </button>
    </div>

    <hr>
    <p class="sidenav-text">Account Management</p>

    <div class="sidenav-button-container">
      <button routerLink="action-log" class="sidenav-button" routerLinkActive="active">
        <fa-icon class="sidenav-button-icon" [icon]="faFile"></fa-icon>
        Action Log
      </button>
    </div>

    <div class="sidenav-button-container">
      <button routerLink="users" class="sidenav-button" routerLinkActive="active">
        <fa-icon class="sidenav-button-icon" [icon]="faUsers"></fa-icon>
        Users<fa-icon style="margin-left:5px;" [icon]="faExternalLink"></fa-icon>
      </button>
    </div>

    <!-- <div style="position: fixed;bottom: 0;padding-left:60px;padding-bottom: 40px;">

    </div> -->
  </mat-drawer>

  <div [class.example-sidenav-content]="showToolbarAndDrawer">
    <router-outlet></router-outlet>
  </div>


</mat-drawer-container>


