<input type="text" class="form-control" placeholder="Filter Services" (keyup)="applyFilter($event)">

<br>

<div class="content-container">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="vessel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vessel </th>
            <td mat-cell *matCellDef="let element"> {{element.vessel}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="msisdn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> MSISDN </th>
            <td mat-cell *matCellDef="let element"> {{element.msisdn}} </td>
        </ng-container>

        <ng-container matColumnDef="iccid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ICCID </th>
            <td mat-cell *matCellDef="let element"> {{element.iccid}} </td>
        </ng-container>
        
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"><mat-icon style="color:green">wifi</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon style="color:green;">lock</mat-icon> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="clickable-row" (click)="toggleCardOpen(row)">
    </table>

    <mat-paginator [pageSizeOptions]="[15, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<div class="card-container" [ngClass]="{'show-card': isCardVisible}">
    <div class="card">
      <button class="close-button" (click)="toggleCardClose()">&times;</button>
      <!-- Card content goes here -->
      <p style="font-size: 25px;">{{display?.name}}<button class="btn btn-primary" style="margin-left:15px;">View more</button></p>
      <p><b>Service ID: </b>{{display?.serviceid}}</p>
      <p><b>MSISDN: </b>{{display?.msisdn}}</p>
      <p><b>ICCID: </b>{{display?.iccid}}</p>
      <p><b>IP Addresses:</b>{{display?.ip}}</p>
      <hr>
      <p><b>Package: </b>{{display?.package}}</p>
      <p><b>Connected: </b>{{display?.connected}}</p>
      <p><b>Plan Started: </b>{{display?.plan_started}}</p>
  
      
    </div>
  </div>
