.card-container {
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}

.content-container {
  margin-bottom: 300px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  pointer-events: auto;
  width: 120vh;
  position: relative;
  height: 300px;
  overflow-y: auto; 
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.show-card {
  display: flex;
  animation: fadeInFromBottom 0.5s ease forwards;
}